.footer {
  background-color: #243746;
  color: #ffffff;
  padding: 2.5rem 1.5rem;
  text-align: left;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  margin: 0 auto;
}

/* ===== Columna General ===== */
.footer-col {
  flex: 1 1 250px;
  min-width: 230px;
}

.footer-title {
  color: orangered;
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-text {
  font-size: 20px;
  color: #e0e0e0;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}


/* ===== Enlaces ===== */
.footer-links {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.6rem;
  cursor: pointer;
  color: #dcdcdc;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: orangered;
}

/* ===== Contacto ===== */
.footer-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  color: #e0e0e0;
}

.footer-contact .icon {
  color: orangered;
  margin-right: 0.5rem;
}

/* ===== Separador y parte final ===== */
.footer-divider {
  border: none;
  border-top: 1px solid #516879;
  margin: 2rem 0 1rem;
}

.footer-bottom {
  text-align: center;
  font-size: 20px;
  color: #cbd5e0;
}

/* ===== Responsivo ===== */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-col {
    max-width: 350px;
  }

  .footer-contact li {
    justify-content: center;
  }
}

.redes-icons {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.redes-icons img {
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.redes-icons img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
